<h1>Purchase Orders</h1>

<table class="table">
  <thead>
    <tr>
      <th>PO #</th>
      <th>Work Order</th>
      <th>Vendor</th>
      <th>Total</th>
      <th>Status</th>
      <th>Created</th>
    </tr>
  </thead>
  <tbody>
    <% @purchase_orders.each do |po| %>
      <tr>
        <td><%= link_to po.number, purchase_order_path(po) %></td>
        <td>
          <% if po.work_order %>
            <%= link_to "WO ##{po.work_order.id}", work_order_path(po.work_order) %>
          <% end %>
        </td>
        <td><%= po.vendor_name %></td>
        <td><%= number_to_currency(po.total_amount) if po.total_amount.present? %></td>
        <td><%= po.status.to_s.humanize %></td>
        <td><%= l po.created_at, format: :short %></td>
      </tr>
    <% end %>
  </tbody>
</table>
